<!-- content -->
<div class="container">
    <h1 class="text-center">Gamers</h1>
    <br>
    <br>
    <p class="text-justify"> En esta sección puedes encontrar todo lo relacionado a equipos y accesorios
      exclusivamente para gamers. Entre los principales productos destinados a usuarios gamers 
      sugerimos llevar productos de calidad y garantía. A continuación se muestra un listado con los 
      productos frecuentemente más solicitados:
    </p>
    <br>
    <br>
    <div class="table-wrapper">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Descripción del producto</th>
            <th>Precio (S/)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Filas de la tabla -->
          <tr>
            <td>1</td>
            <td>Teclado inalámbrico</td>
            <td>80.0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Mouse gamming</td>
            <td>50.0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Auriculares gamming</td>
            <td>60.0</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Tarjeta Gráfica</td>
            <td>2000.0</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Silla Gaming</td>
            <td>750.0</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Play Station</td>
            <td>1500.0</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Xbox console</td>
            <td>2700.0</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Mandos gamming</td>
            <td>369.0</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Consola arcade nintendo</td>
            <td>550.0</td>
          </tr>
          <tr>
            <td>10</td>
            <td>software de videojuegos</td>
            <td>50.0</td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <br>
    </div>
    
  </div>
