<!-- content -->
<div class="container">
    <h1 class="text-center">Otros</h1>
    <br>
    <br>
    <p class="text-justify">En esta sección puedes encontrar todo lo relacionado a equipos y accesorios
      variados. Este tipo de productos son complementos para los distintos equipos de cómputo que vendemos. A continuación se muestra un listado con los 
      productos frecuentemente más solicitados:</p>
    <br>
    <br>
    <div class="table-wrapper">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Descripción del producto</th>
            <th>Precio (S/)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Filas de la tabla -->
          <tr>
            <td>1</td>
            <td>Adaptador Bluetooth</td>
            <td>50.0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Cable HDMI para alta velocidad</td>
            <td>35.0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Switch de 8 puertos ethernet</td>
            <td>100.0</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Webcam HD</td>
            <td>80.0</td>
          </tr>
          <tr>
            <td>5</td>
            <td>hub para usb multipuerto</td>
            <td>90.0</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Antena wifi usb portatil</td>
            <td>65.0</td>
          </tr>
          <tr>
            <td>7</td>
            <td>impresora a color epson</td>
            <td>1200.0</td>
          </tr>
          <tr>
            <td>8</td>
            <td>cable mini c</td>
            <td>20.0</td>
          </tr>
          <tr>
            <td>9</td>
            <td>auriculares inalambricos para PC </td>
            <td>75.0</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Kit de accesorio de limpieza para PC </td>
            <td>50.0</td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <br>
    </div>