<!-- content -->
<div class="container">
    <div class="text-center">
      <h1>COMPUTERBOT</h1>
      <br>
      
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="text-justify"> Computer bot es una de las mejores empresas del mercado peruano que brinda a sus 
          clientes los mejores accesorios de cómputo con la mejor garantía y calidad.
          Nuestro compromiso con los crientes y la confianza depositada respalda nuestros años de trabajo 
          en el mercado. Nuestra empresa ofrece por cualquiera de sus productos un año de garantía, además brindamos soporte gratuito
          sin ningún compromiso.
          
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-justify">
          La empresa se creó el año 2021 con el único propósito de brindar los mejores productos de 
          vanguardia tecnológica, entre los que destacan los equipos para gamers, equipos de cómputo y otros accesorios
          frecuentemente utilizados. Trabajamos de Lunes a Domingo y también hacemos entregas de los pedidos a domicilio. Los clientes 
          pueden hacer sus compras online de nuestros productos y hacer consultas al correo  computerbot10@gmail.com.
          <br>

        </p>
      </div>
      
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>