<!-- content -->
<div class="container">
    <div class="text-center">
      <h1>Sobre mí</h1>
      <br>
      <br>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="text-justify">
          Mi nombre es Luis, soy desarrollador de software y especialista en temas de automatización industrial. 
          Soy egresado en Ingeniería Electrónica de la Universidad Nacional de ingeniería y cuento con estudios
          en Computer Science.
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-justify">
          Entre mis principales skills adquiridos están la de desarrollador de sistemas automatizados en la industria. Que van desde 
          la programación de controladores lógicos industriales, sistemas de monitoreo, redes y servidores.
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-justify">
          Actualmente me encuentro trabajando en el área de Inteligencia Artificial, en la cual me encargo de desarrollar 
          aplicaciones o servicios aplicados en el campo de la visión artificial y el
          procesamiento del lenguaje natural.
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
