<!-- content -->
<div class="container">
    <h1 class="text-center">PCs</h1>
    <br>
    <br>
    <p class="text-justify">En esta sección puedes encontrar todo lo relacionado a equipos y accesorios
      para cómputo de oficina y de casa. Aquí encontrarás los equipos más frecuentemente solicitados
      por diversas empresas que demandan para sus trabajadores, estudiantes universitarios e investigadores.
      A continuación se muestra un listado con los 
      productos frecuentemente más solicitados:</p>
    <br>
    <br>
    <div class="table-wrapper">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Descripción del producto</th>
            <th>Precio (S/)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Filas de la tabla -->
          <tr>
            <td>1</td>
            <td>Intel Processor Core i7</td>
            <td>1300.0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Mainboard Intel</td>
            <td>900.0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Memoria RAM 16GB</td>
            <td>160.0</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Disco Duro SSD 1TB</td>
            <td>600.0</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Laptop Lenovo</td>
            <td>2500.0</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Fuente de PC de 100W</td>
            <td>100.0</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Monitor LED de 24 pulgadas</td>
            <td>950.0</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Case de AMD Ryzen 5</td>
            <td>1050.0</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Micrófono para PC</td>
            <td>80.0</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Parlantes para PC de 50W</td>
            <td>70.0</td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <br>
    </div>
    
  </div>
